doctype html 5
html(lang='es')
    head
        base( href="/")
        title Social Network In Live
        link(rel="stylesheet", href="vendor/toastr/toastr.css")
        link(rel="stylesheet", href="css/site.css")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

body(ng-app='app')
    include header
    include currentUser
    block main-content
    include scripts
    include footer