section.Register
    .container-fluid
        .row.Register-form
            .col-md-6
                div(ng-include="'/partials/main/featured-courses'" ng-show="false")
            .col-md-6
                div(ng-include="'/partials/main/new-courses'" ng-show="false")

        //h2 {{ myVar }}